### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
#import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purch_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = len(purch_data["SN"].unique())
total_player_df=pd.DataFrame([{"Total Players" :total_players}])
total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_item_count =len(purch_data["Item ID"].unique())       #count of unique item ids
ave_purch_price = purch_data["Price"].mean()                 # average price of a purchase

total_revenue = purch_data["Price"].sum()                   #total purchases
purch_count = purch_data["Price"].count()                  #how many purchases

In [5]:
summary_data=pd.DataFrame([{"Number of Unique Items":unique_item_count,"Average Purchase Price":ave_purch_price,"Total Purchases": purch_count,"Total Revenue":total_revenue}])
summary_data=summary_data[["Number of Unique Items", "Average Purchase Price","Total Purchases","Total Revenue" ]]
summary_data

,Number of Unique Items,Average Purchase Price,Total Purchases,Total Revenue
0,183,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
slim_gender_player_df=purch_data[["Gender","SN"]]                 #remove extranious data
slim_gender_player_df =slim_gender_player_df.drop_duplicates()           # remove duplicates / get unique screennames
slim_gender_player_grp=slim_gender_player_df.groupby(["Gender"])         # group by gender
gender_player_count=slim_gender_player_grp["SN"].count()             #count the Screen Names

gender_player_df=pd.DataFrame(gender_player_count)                        #change to a dataframe so I can add a column
gender_player_df["Percent"]=(gender_player_df.iloc[:,0]/total_players)*100                #add the percentage column
new_gender_player_df=gender_player_df.rename(columns={"SN":"Player Count","Percent":"Percent of Total"})       # make column names better
new_gender_player_df

                       Player Count  Percent of Total
Gender
Female                           81         14.062500
Male                            484         84.027778
Other / Non-Disclosed            11          1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
gender_grp = purch_data.groupby(["Gender"])              # group by gender
gender_purch_count=gender_grp["Purchase ID"].count()         #count purchases per group
gender_purch_ave=gender_grp["Price"].mean()               #average purchase price per group
gender_purch_tot=gender_grp["Price"].sum()                #total purchases by group

#--------------------------------------
gender_player_grp=purch_data.groupby(["Gender","SN"])                 #grouped by gender and player
gender_player_purch =gender_player_grp["Price"].sum()                 # Purchase Total per Person by Gender
#print(gender_player_purch)
new_gender_player_purch=gender_player_purch.reset_index(drop = False)  #remove indexes from double groupby
new_gender_purch_grp =new_gender_player_purch.groupby(["Gender"])         #re-add groupby gender
new_gender_purch=new_gender_purch_grp["Price"].mean()          #Average Purchase Total per Person by Gender
print(new_gender_purch)

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Price, dtype: float64

In [8]:
gender_summary_df=pd.DataFrame({"Purchase Count":gender_purch_count,"Average Purchase Price":gender_purch_ave,"Total Purchase Value":gender_purch_tot,"Ave Purchase Total per Person":new_gender_purch})
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Ave Purchase Total per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
player_grp=purch_data.groupby(["SN"])                 #grouped by player
player_purch_count=player_grp["Price"].count()           # count purchases per player

player_purch_ave=player_grp["Price"].mean()                #average purchase price
player_purch_total =player_grp["Price"].sum()                 # Purchase Total per player

player_purch_df= pd.DataFrame({"Purchase Count":player_purch_count,"Average Purchase Price":player_purch_ave,"Total Purchase Value":player_purch_total})
player_purch_df=player_purch_df.sort_values("Total Purchase Value",ascending=False)
player_purch_df.head(10)

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                  5                3.792000                 18.96
Idastidru52                4                3.862500                 15.45
Chamjask73                 3                4.610000                 13.83
Iral74                     4                3.405000                 13.62
Iskadarya95                3                4.366667                 13.10
Ilarin91                   3                4.233333                 12.70
Ialallo29                  3                3.946667                 11.84
Tyidaim51                  3                3.943333                 11.83
Lassilsala30               3                3.836667                 11.51
Chadolyla44                3                3.820000                 11.46

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
item_df=purch_data[["Item ID","Item Name","Price"]]
item_df=item_df.rename(columns={"Price":"Item Price"})        #rename column

item_grp=item_df.groupby(["Item ID","Item Name"])
item_purch_count =item_grp["Item ID"].count()             #count rows per item
item_purch_total=item_grp["Item Price"].sum()              #sum of rows per item
item_df=item_df.drop_duplicates()                         #drop duplicate rows per item

item_df_2=pd.DataFrame({"Purchase Count": item_purch_count,"Total Purchase Value":item_purch_total})  
                #new item stats
new_item_df=pd.merge(item_df, item_df_2,how ="left",on = ["Item ID","Item Name"])       
            #merge with original item data

new_item_df=new_item_df[["Item ID","Item Name","Purchase Count","Item Price","Total Purchase Value"]] 
           #rearrange summary data
new_item_df=new_item_df.sort_values("Purchase Count",ascending = False)
            #sort descending
new_item_df.head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
24,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
0,108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
17,82,Nirvana,9,4.90,44.10
94,145,Fiery Glass Crusader,9,4.58,41.22
134,19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
new_item_df=new_item_df.sort_values("Total Purchase Value",ascending = False)
new_item_df.head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
24,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
17,82,Nirvana,9,4.90,44.10
94,145,Fiery Glass Crusader,9,4.58,41.22
2,92,Final Critic,8,4.88,39.04
112,103,Singed Scalpel,8,4.35,34.80