### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
#import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purch_data = pd.read_csv(file_to_load)

## Player Count

In [2]:
#purchase_data.head()
total_players = len(purch_data["SN"].unique())
print(f"Total Players = { total_players}" )

purch_data.tail(20)

Total Players = 576

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

* Display the total number of players

In [15]:
#purch_data.head()
#purch_data.columns
unique_item_count =len(purch_data["Item ID"].unique())



#item_data = purch_data.loc[:,["Item ID","Item Name","Price"]]        #items for sale
#item_data=item_data.drop_duplicates()
#ave_item_price=item_data["Price"].mean()                      # average price of items for sale


ave_purch_price = purch_data["Price"].mean()                 # average price of a purchase


total_revenue = purch_data["Price"].sum()
purch_count = purch_data["Price"].count()

In [18]:
summary_data=pd.DataFrame([{"Number of Unique Items":unique_item_count,"Average Purchase Price":ave_purch_price,"Total Purchases": purch_count,"Total Revenue":total_revenue}])
summary_data=summary_data[["Number of Unique Items", "Average Purchase Price","Total Purchases","Total Revenue" ]]
print(f"There are {unique_item_count} items for sale")
#print(f"The Average price of our products is {ave_item_price}")
print(f"The Average price of a purchase is ${ave_purch_price}")
print(f"There were {purch_count} total purchases")
print(f"For a total revenue of {total_revenue}")
summary_data

There are 183 items for sale
The Average price of a purchase is 3.050987179487176
There were 780 total purchases
For a total revenue of 2379.77

,Number of Unique Items,Average Purchase Price,Total Purchases,Total Revenue
0,183,3.050987,780,2379.77

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
gender_grp = purch_data.groupby(["Gender"])
gender_count = gender_grp["Gender"].count()
#print(gender_count)
gender_count["Percent"]=gender_count/total_players
print(gender_count)

Gender
Female                                                                 113
Male                                                                   652
Other / Non-Disclosed                                                   15
Percent                  Gender
Female                   0.196181
Male ...
Name: Gender, dtype: object


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame